*.pyc
__pycache__/avg_runner.cpython-35.pyc __pycache__/constants.cpython-35.pyc __pycache__/constants.cpython-36.pyc __pycache__/d_model.cpython-35.pyc __pycache__/d_model.cpython-36.pyc __pycache__/d_scale_model.cpython-35.pyc __pycache__/d_scale_model.cpython-36.pyc __pycache__/g_model.cpython-35.pyc __pycache__/g_model.cpython-36.pyc __pycache__/loss_functions.cpython-35.pyc __pycache__/loss_functions.cpython-36.pyc __pycache__/optical_flow.cpython-35.pyc __pycache__/test_metrics.cpython-35.pyc __pycache__/tfutils.cpython-35.pyc __pycache__/tfutils.cpython-36.pyc __pycache__/utils.cpython-35.pyc __pycache__/utils.cpython-36.pyc __pycache__/youtube_clips.cpython-35.pyc __pycache__/youtube_clips.cpython-36.pyc
